---
// src/components/Productos.astro
const products = [
  { id: 1, ruta: '/collage.jpg', name: 'Bella Duna', descripcion: 'Arte', quantity: 10, price: 10000 },
  { id: 2, ruta: '/pinturaojo.jpg', name: 'Natural Eyes', descripcion: 'Arte', quantity: 10, price: 20 },
  { id: 3, ruta: '/buho.jpg', name: 'Buho Arti', descripcion: 'Arte', quantity: 10, price: 30 },
  { id: 4, ruta: '/galaxia.jpg', name: 'Galaxy Gogh', descripcion: 'Arte', quantity: 10, price: 40 },
  { id: 5, ruta: '/paisaje.jpg', name: 'Paisaje Calm', descripcion: 'Arte', quantity: 10, price: 50 },
  { id: 6, ruta: '/rompecabezas.jpg', name: 'Different', descripcion: 'Arte', quantity: 10, price: 60 },
  { id: 7, ruta: '/pintura_amarilla.jpg', name: 'Pintura Amarilla', descripcion: 'Pintura', quantity: 1, price: 70 },
  { id: 8, ruta: '/pintura_azul.jpg', name: 'Pintura Azul', descripcion: 'Pintura', quantity: 10, price: 80 },
  { id: 9, ruta: '/pintura_roja.jpg', name: 'Pintura Roja', descripcion: 'Pintura', quantity: 10, price: 90 },
  { id: 10, ruta: '/pintura_verde.jpg', name: 'Pintura Verde', descripcion: 'Pintura', quantity: 10, price: 100 },
  { id: 11, ruta: '/caballete.jpg', name: 'Caballete Grande', descripcion: 'Caballete', quantity: 10, price: 110 },
  { id: 12, ruta: '/lienzo.jpg', name: 'Lienzo Grande', descripcion: 'Lienzo', quantity: 10, price: 120 },
];
---
<div class="product-grid">
  {products.map(product => (
    <div class="product-item">
      <img src={product.ruta} alt={product.name} class="imagen" />
      <h2>{product.name}</h2>
      <h3>{product.descripcion}</h3>
      <h4>Cantidad: {product.quantity}</h4>
      <div class="price-container">
        <p class="product-price">{product.price}</p>
        <button class="boton" data-product={JSON.stringify(product)}>+</button>
      </div>
    </div>
  ))}
</div>

<script>
  // script para manejar el evento click
  import addToCart from "./Cart.astro"
  document.addEventListener('click', (event) => {
    const target = event.target as HTMLElement;
    if (target.classList.contains('boton')) {
      const productData = target.getAttribute('data-product');
      if (productData) {
        const product = JSON.parse(productData);
        addToCart(product);
      }
    }
  });
</script>

<style>
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    width: 70%;
    padding: 0px 30px;
    margin: auto;
  }

  .product-item {
    position: relative;
    padding: 1rem;
    text-align: center;
  }

  .product-item h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: black;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .product-item h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5px;
  }

  .product-item h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    text-align: left;
    margin-top: 5px;
  }

  .price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product-price {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin: 10px 0px;
  }

  .boton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffb24e;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 0;
    cursor: pointer; /* Añadido para indicar que es un botón interactivo */
  }

  .boton:hover {
    color: white;
    background-color: black;
    border-color: #ffb24e;
    transition: 0.8s;
  }

  .imagen {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 2%;
  }
</style>
